.container {
    width:70%;
    margin: 0 auto;
    
}
    body {
    font-family: bilo;
    padding: 0;
    margin: 0;
}

h1{
    font-family: orbitron;
    margin: 0;
    padding: 0;
}

h2{
    font-family: orbitron;
    margin: 0;
    padding: 0;
}
h4{
    font-family: orbitron;
    margin: 0;
    padding: 0;
}

.logo{
    padding-left: 2.5em;
    color: white;
    letter-spacing: 2pt;
    font-weight: medium;
    padding-top: 10px;
    left: 0;

}


.nav-bar {
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #00579E;
    width: 100%;
    height: 60px;
    

}

nav {
    position: absolute;
    margin-right: 4em;
    background: #00579E;
    top: 100%;
    width: 100%;
    transform: scale(1,0);
    padding-bottom: 15px;

    transform-origin: top; transform: scale(1,0);
    transform-origin: top;
    transition: transform 200ms;
    text-align: right;
}

nav ul{
margin: 0;
padding: 0;
list-style: none;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    text-align: right;
    margin-right: 4.2em;
    font-weight: 500;
    padding: 10px;
    line-height: 1.4;

}

nav a:hover {
    color: #A2E006;
}



.nav-toggle {
    display: none;
      
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    padding-right: 5em;
    width: auto;
    align-items: center;
        
}


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
   /* display: block; */
    
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  
  display: block;
  background: white;
  height: 1.5px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  
  }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 8px;
}

.nav-toggle-label span::after{
  top: 8px;
}
  





   
    

.container-header {
    position: relative;
    width: 100%;
    height: 75vh;
    background-image: url("images/header-philly.jpg");
    background-size: cover;

}

.header-content {
    position: absolute;
    display: block;
   margin: 0 auto;
    width: 100%;
 
}

.header-content img{
    
    display: block;
    margin-top: 150px;
   
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 20px;

 
}






.header-button {
    color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 500;
    background-color:#00579E;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;

}

.header-button:hover {
    color: black;
    background-color: #A2E006;
    border: none;
}






.about-ptw{
    padding: 7em 0;
    display: grid;
    grid-template-columns: 70% 15%;
    gap: 1em
}

.about-copy {
    font-size: 1.2em;
    line-height: 1.5;
}

    

.speakers-heading{
text-align: center;
color: white;
padding-bottom: 1em;
  
   
   
   
}
.speakers-background {
    padding: 7em 0  0 0;
    background-image: url(images/speakers-background.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    background-attachment: fixed;
}
.speakers {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    width: 950px;
    height: 600px;
   
    /*
    display: grid;
    grid-template-areas: "speaker-one speaker-two speaker-three";
    /* grid-template-columns: repeat(3, 1fr);*/
    
}



.speaker img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}




.speaker-name {
    font-weight: 600;
    color: #00579E;
    text-transform: uppercase;
    text-align: center;
}
.speaker{
    background: #CAD7ED;
    padding: 1em;
    width: 100%;
    margin: 10px auto;
}


.speaker-one  {
    border-radius: 20px 0 0 20px ;

}

.speaker-one  img{
    border-radius: 20px 0 0 20px ;

}

.speaker-three{
    border-radius: 0 20px 20px 0;
}

.speaker-three img{
    border-radius: 0 20px 20px 0;
}



.tracks {
    padding: 7em 0;;
}

.tracks h1 {
    text-align: center;;
    color: #00579E;
}

.tracks h3 {
    color:#00579E ;
}

.tracks-description {
    text-align: center;;
    font-size: 1.1em;
    padding: 1.3em;
    
}

.track-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.track-card {
    max-width: 45%;
    display: flex;
    margin: 10px;
    
}

.track-card-image {
    background-color: #00579E;
    border-radius: 20px 0 0 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6em;
   
}

.track-card-text {
    padding: 1em;
    min-height: 10em;
}

.track-card {
    background-color:#CAD7ED ;
    border-radius: 20px 0 20px 0;
}


footer {
    background-color: #00579E;
    color: white;
    padding: 5em;
    display: flex;
    justify-content: space-between;
   
}

.footer-logo{
    text-transform: uppercase;
    font-weight: medium;
    font-size: 1.7em;
}

.first-green-line {

    margin-bottom: -8px;
}

.second-green-line {
    margin-top: -5px;;
}



.footer-ul {
display: flex;
justify-content: right;
list-style-type: none;
font-size: 0.9em;
padding: auto;

}


footer a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 10px;

    
}

footer a:hover {
    color: #A2E006 ;
}


.footer-contact, .footer-rights {
    text-align: center;
    font-size: 0.9em;
}

.icons-footer {
    display: flex;
    justify-content: right;
    padding-top: 10px;

}

.icons-footer a {
    margin: .5em;
    background-repeat: no-repeat;

}

.facebook-icon {
    background-image: url(images/facebook-icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}

.twitter-icon {
    background-image: url(images/twitter-icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}

.youtube-icon {
    background-image: url(images/youtube\ icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}

.linkedin-icon {
    background-image: url(images/linkedin-icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}
.email-icon {
    background-image: url(images/email-icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}

.share-icon {
    background-image: url(images/share-icon.png);
    height: 27px;
    width: 27px;
    display: block;
    position: relative;
}




.calendar-page {
    margin: 7em 0;
}

.calendar-heading {
    text-transform: uppercase;
    color: #00579E;
    padding-bottom: 1em;
}

.calendar-card {
    background-color:#CAD7ED;
    
}

.card-text {
    padding:  1em 2em 0em  2em;
    display: flex;
    justify-content: space-between;
    
    
    
}

.talk-name {
    text-transform: uppercase;
    color: #00579E;
    width: 70%;
}

.talk-date{
padding-top: 15px;

}

.talk-description {
    padding: 0em 2em 2em 2em;

       
       
}

 
.two-calendar-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
    
}


.calendar-medium-card {
    background-color:#CAD7ED;
    width: 66%;

}

.calendar-small-card{
    background-color:#CAD7ED;
    width: 32%;

}

.small-card-text{
    padding:  1em 2em 0em  2em;
    

}

.calendar-image img{
    border-bottom: #A2E006 5px solid;
}










.faq-page{
    margin: 7em 0;
}

.faq-heading {
    text-transform: uppercase;
    color: #00579E;
    padding-bottom: 1em;
}

.question {
    color: #00579E ;
}


.youtube-section {
    padding: 7em 0;
    background-color:#CAD7ED ;
    background-image: url(images/speakers-background.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.faq-page li{
    list-style: square;
    
}


.youtube-video {

text-align: center;
}

.sponsors-page {
    padding: 7em 0;
}
.sponsors-heading {
    text-transform: uppercase;
    color: #00579E;
    padding-bottom: 1em;  
}

.comcast-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 300px;
}

.sponsors-logos img {
    padding: 30px;
    


}
.sponsors-logos{
  max-width: 95%;
  margin: auto;
  text-align: center;
  

   
}

.form-page {
    padding-top: 10em;
    padding-bottom: 10em;
    

}

.form-heading {
    color:white;
    background-color: #00579E;
    border-bottom: #A2E006  5px solid;
    text-transform: uppercase;
    padding: .5em 3em;
    border-radius: 20px 0 0 0 ;
}

form {
    background-color: #CAD7ED;
    border-radius: 20px 0 20px 0 ;
    width: 60%;
    margin: auto;
    font-weight: 500;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
   

}



form input {
    border:none;
    background: none;
    border-bottom: 2px solid #00579E;
    margin-bottom: 10px;
    width: 40%;
    margin: auto;
    margin: 10px 0;
  }

  /*
  .form-field label {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
  }
  */
 



  .form-button {
        color: white;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 500;
        background-color:#00579E;
        border: none;
        padding: 10px 25px;
        border-radius: 5px;
        margin: 20px 30px;
    
    }
    
    .form-button:hover {
        color: black;
        background-color: #A2E006;
        border: none;
    }

    label {
        display: inline-block;
        width: 20%;
        text-align: right;
        margin-top: 5px;

    }

    #session {
        padding: 5px;
    }

.carousel-page {
    width: 100%;
    margin: 7em  0;

}

.carousel-page h3 {
    text-transform: uppercase;
    color: #00579E;
}

.carousel {
    width: 100%;}


.calendar-carrousel-heading {
    text-transform: uppercase;
    color: #00579E;
    padding-bottom: 1em;
    text-align: center;


}
  .carousel-cell {
      box-sizing: border-box;
      margin-right: 10px;
      width: 600px;
      display: flex;
      padding-bottom: 20px;
  }


  .cell-text {
    background-color: #ffffff;
    border: #A2E006 solid 3px;
    padding: 25px;
    height: 250px;
    width: 300px;
  }
  


  .carousel-cell-image{

      width: 300px;
      height: 305px;
     
      overflow: hidden;
      

  }


  @media screen and (max-width: 1000px) {



    .header-content {
        justify-content: center;
        position: absolute;
        
    }





    .speakers {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 800px;
        height: 750px; 
    }


    
    .two-calendar-cards {
        display: block;      
    }

    .calendar-medium-card {
        width: 100%;
    
    }
    .calendar-medium-card img{
        height: 220px;
        width: 100%;
        object-fit: cover;
    }

    
    .calendar-small-card{
        width: 100%;
        padding-bottom: 20px;
    
    }

    .calendar-small-card img{
        height: 220px;
        width: 100%;
        object-fit: cover;
    
    }

    .form-field label {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    label {
      width: 100%;
      text-align: center;
    }
  

  
 

    
  }


  @media screen and (max-width: 800px) {
    
   


    .speakers {
        display: block;
        text-align: center;
        width: 250px;
        max-height: 150px;
        margin: 0 30%;
    
    }

    

    .speakers-background {
        margin: 7em 0  2em 0;
        background-image: url(images/speakers-background.jpg);
        background-size: cover;
        position: relative;
        height: 2000px;
        background-attachment: fixed;
    }

    .speaker-one{
        border-radius: 20px 20px 0 0;

    }
    .speaker-two{
        border-radius: none;
        
    }

    .speaker-three{
        border-radius: 0 0 20px 20px;

    }



    .speaker-one img{
        border-radius: 20px;
    
    }
    .speaker-two img{
        border-radius: 20px;
    
    }
    
    .speaker-three img{
        border-radius: 20px ;
    }
    





.track-cards {
    display: block;
    align-content: center;
   
}
.track-card {
    max-width: 100%;
    margin: 20px;
    
}


  .form-field label {
      width: 100%;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
  }
  
  label {
    width: 100%;
    text-align: center;
  }

  .tech-symbol {
    display: none;
}

  .about-copy {
      width: 100%;
  }



footer {
    background-color: #00579E;
    color: white;
    padding: 5em;
    display: flex;
    justify-content: space-between;
   
}

.footer-logo{
    text-transform: uppercase;
    font-weight: medium;
    font-size: 0.9em;
    text-align: center;
}

.first-green-line {

    margin-bottom: -8px;
}

.second-green-line {
    margin-top: -5px;;
}



.footer-ul {
display: flex;
justify-content: right;
list-style-type: none;
font-size: 0.7em;
padding: auto;

}


footer a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 10px;

    
}

.footer-contact, .footer-rights {
    text-align: center;
    font-size: 0.8em;
}




 
  
 

  }